body {
  margin: 0;
  text-align: center;
  font-family: "Brush Script MT", cursive;
   font-size: 28px; font-style: normal;
    font-variant: normal;
     font-weight: 100;
      line-height: 38.4px;
}

h1 {
  margin-top: 0;
  color: #1A3C40;
}
p {
  color: #1A3C40;
}

.top-container {
  position: relative;
  background-color: #417D7A;
}

.middle-container {
  background-color: #EDE6DB;
  color: #1A3C40;
}

.skills {
background-color: #EDE6DB;
color: #1A3C40;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  margin: 50px auto auto 400px;
}

.Dima {
  position: relative;
  top: 20px;
  padding-bottom: 20px;
}

.mountain {
  position: relative;
  bottom: auto;
  top: 12px;
  }

  table {
    margin: auto;
  }
